@charset "utf-8";

a:hover {
  color: #56ad2b;
}
article p a {
  color: #56ad2b;
}
article>ul>i {
  color: #56ad2b;
}
blockquote {
  border-left: 10px solid #56ad2b;
}
h3 {
  color: #56ad2b;
}
.btn.btn-all:hover {
  background-color: #56ad2b;
}
.btn.btn-filters:hover {
  color: #56ad2b;
}
.btn.btn-filters.active {
  border-color: #56ad2b;
  color: #56ad2b;
}
.btn.btn-foot-news {
  background-color: #56ad2b;
}
.btn.btn-form {
  border-color: #56ad2b;
  border-color: #56ad2b;
  color: #56ad2b;
}
.btn.btn-pricing i {
  background-color: #56ad2b;
}
.btn.btn-sidebar,
.btn.btn-more {
  border: 2px solid #56ad2b;
  color: #56ad2b;
}
.btn.btn-sidebar:hover,
.btn.btn-more:hover {
  background-color: #56ad2b;
}
.btn.btn-sidebar:hover,
.btn.btn-more:hover {
  background-color: #56ad2b;
}
.btn.btn-sidebar.alt:hover,
.btn.btn-more.alt:hover {
  color: #56ad2b;
}
.btn.btn-slider {
  background-color: #56ad2b;
}
.btn.btn-video:hover,
.btn.btn-testimonials:hover {
  background-color: #56ad2b;
}
.btn.btn-testimonials {
  border: 2px solid #56ad2b;
  color: #56ad2b;
}
.btn.btn-testimonials:hover {
  background-color: #56ad2b;
}
.classes.two-columns .classes-item span i {
  color: #56ad2b;
}
.classes-home ul li.active a h5,
.classes-home ul li.active a p {
  color: #56ad2b;
}
.classes-home ul li a:hover h5 {
  color: #56ad2b;
}
.panel-group .panel-title>a:hover {
  color: #56ad2b;
}
.panel-group .panel-title>a:hover i {
  color: #56ad2b;
}
.panel-group .panel-title>a i {
  color: #56ad2b;
}
.contact address i {
  color: #56ad2b;
}
.error-404 h4{
  color: #56ad2b;
}
.events .color-orange{
  color: #56ad2b;
}
.highlights p a {
  background-color: #56ad2b;
}
.image-hover figure i {
  border: 1px solid #56ad2b;
  color: #56ad2b;
}
.navbar .navbar-nav .dropdown-menu>li.active>a,
.navbar .navbar-nav .dropdown-menu>li>a:hover {
  border-left-color: #ddfcc3;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:active {
  border-top-color: none;
}
.navbar .navbar-nav li.active a {
  border-top-color: none;
}
.news-item:hover h2 {
  color: #56ad2b;
}
.news-one h6 a {
  color: #56ad2b;
}
.comments-item .reply-link {
  color: #56ad2b;
}
.pagination>li>a:hover,
.pagination>li.active>a {
  border-color: #56ad2b;
  color: #56ad2b;
}
.partners .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #56ad2b;
  border-color: #56ad2b;
}
.pricing-item:hover li:first-child {
  background-color: #56ad2b;
}
.pricing-item li:first-child span {
  color: #56ad2b;
}
.pricing-item li:first-child strong {
  color: #56ad2b;
}
.programs-item:hover h4 {
  color: #56ad2b;
}
.programs-item:hover .icon {
  color: #56ad2b;
}
.programs-item .icon {
  background-color: #56ad2b;
  border: 3px solid #56ad2b;
}
.progress .progress-bar {
  background-color: #56ad2b;
}
.menu-search input[type="text"]:hover {
  border-top: 3px solid #56ad2b;
}
.menu-search input[type="text"]:focus:hover {
  border-top: 3px solid #56ad2b;
}
.menu-search input[type="text"]:focus {
  border-top: 3px solid #56ad2b;
}
.sidebar h5 {
  border-left: 3px solid #56ad2b;
}
.brouche .get-brouche {
  color: #56ad2b;
}
.categories i {
  color: #56ad2b;
}
.popular li a:hover h6 {
  color: #56ad2b;
}
.form-suscribe {
  background-color: #56ad2b;
}
.form-suscribe .form-control:-moz-placeholder,
.form-suscribe .form-control:-ms-input-placeholder,
.form-suscribe .form-control::-moz-placeholder,
.form-suscribe .form-control::-webkit-input-placeholder {
  color: #56ad2b;
}
.star span {
  color: #56ad2b;
}
.single-item-info .social li a:hover{
  color: #56ad2b;
}
.single-item-info .btn.btn-mini{
  border: 2px solid #56ad2b;
  color: #56ad2b;
}
.single-item-info .btn.btn-mini:hover{
  background-color: #56ad2b;
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  color: #56ad2b;
}
.tags li a:hover {
  background-color: #56ad2b;
  border: 1px solid #56ad2b;
}
.trainers-home-item:hover figcaption {
  background-color: #56ad2b;
}
.trainers-home-item:hover figcaption i {
  background-color: #56ad2b;
}
.trainers-mini-item .social li a:hover {
  color: #56ad2b;
}
.trainers-item h3 a:hover {
  color: #56ad2b;
}
.trainers-item .social a:hover {
  color: #56ad2b;
}
.trainers-single .social li a:hover {
  color: #56ad2b;
}
.event-day{
  background: #56ad2b;
}
.img-wrap .onsale {
  background: #56ad2b;  
}
figure .icons .btn.btn-image {
  background-color: #56ad2b;
  border: 2px solid #56ad2b;
}
figure .icons-2 .btn.btn-image:hover {
  border: 2px solid #56ad2b;
  color: #56ad2b;
}
.filters .slider-range .slider.slider-horizontal .slider-track {
  background: #56ad2b;
}
.filters .slider-range .slider.slider-horizontal .slider-handle {  
  border: 5px solid #56ad2b;
}
.filters .slider-range .slider-selection{
  background: #56ad2b;
}
/*rgba*/
.carousel-control:hover {
  background-color: rgba(255,102,51,0.7);
}
.classes-home .tab-content figure figcaption:after {
  border-color: transparent #56ad2b8f  transparent transparent;
}
.popular li a figure:before {
  background-color: rgba(255,102,51,0.7);
}
.flickr-feed li a:before {
  background-color: rgba(255,102,51,0.7);
}








